html {
    scroll-behavior: smooth; 
}

body {
    font-family: "Gamja Flower", sans-serif;
}
section {
    padding: 100px 0;

}

#title {
    text-align: center;
    font-size: 50px;
    list-style-type: none;
}

#category {
    font-size: 25px;
    font-weight: lighter;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center; 
    gap: 200px; 
  }

  li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  ul li a:hover {
    color: rgb(134, 200, 238);
  }

/* section-home */
.intro {
    text-align: center;
    margin-top: 30px;
}

.intro_img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 50px;
}

.intro_ex {
    font-size: 50px;
    color: black;
}

/* section-like */
.like_1 {
    width: 300px;
    height: 200px;
}

#like {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px;
  }
  
  .like_left, .like_right {
    display: flex;            
    flex-direction: column;   
    justify-content: space-between; 
    align-items: center;       
    width: 400px;
    background-color: #e4f5ffb9;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
  }

  .like_1 {
    width: 65%;            
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
  }
  
  .like_2 {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
  }

  .like_left h1::after,
.like_right h1::after {
  content: "";
  display: block;
  width: 400px;
  height: 1px;
  background-color: #000;
  margin: 15px auto 20px; 
}

.like_left h3 {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  
.like_left p {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

.like_left h1, .like_right h1 {
    font-size: 40px; 
    font-weight: bold; 
  }

.like_left h3, .like_right h3 {
    font-size: 27px; 
    font-weight: bold; 
  }
  
.like_left p, .like_right p {
    font-size: 20px; 
  }

/* section-about */

.section_about {
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;  
    padding: 100px 0;  
    box-sizing: border-box;
  }
  

.profile {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    background-color: #e4f5ffb9;
    border-radius: 15px;
    font-size: 40px;
    padding: 25px;
    box-sizing: border-box;
    width: 1200px;
    height: 550px;
    margin: 0 auto;
}
  
.profile_img {
    width: 500px;
    height: 500px;
}
  
.profile_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.profile_item {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.profile_item h3,
.profile_item p {
    margin: 0;
    font-size: 35px;
}

.section_work {
  min-height: 100vh;   
  padding-top: 120px; 
  padding-bottom: 120px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 60px;   
}

.work_block {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.work_1, .work_2 {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #e4f5ffb9;
  padding: 30px;
  border-radius: 15px;
  width: 1050px;
  box-sizing: border-box;
}

.dongseo, .an {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.work_text, .work_text2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.work_text h1, .work_text2 h1 {
  font-size: 45px;
  margin: 0;
}

.work_text p, .work_text2 p {
  font-size: 20px;
  margin: 0;
}



  


  
  
  
  
  





  


